@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: #2c2c31;
}

::-webkit-scrollbar-button {
  background-color: #18181b;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #372560;
  border-radius: 16px;
}